<%= link_to "Entries", cms.entries_path(@content_block) %>
<h1><%= @content_block.name%></h1>
<p>
  <%=  @content_block.description %>
</p>
<%
    form_response = Cms::FormResponse.new(form: @content_block)
%>
<%= render partial: 'cms/form_responses/form', locals: {model: form_response, url: cms.form_responses_path, form: @content_block} %>


