<h1><%= @content_block.name%></h1>
<p>
  <%=  @content_block.description %>
</p>
<%
    entry = Cms::FormEntry.new(form: @content_block)
%>
<%= render partial: 'cms/form_entries/form', locals: {model: entry, url: cms.submit_form_entry_path, form: @content_block} %>


